<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>

<body>
  <h1>Sucesso</h1>
  <h2>
    <span><%= user.provider %> Profile</span>
  </h2>
  <p>
    <strong>Id</strong>: <%= user.id %><br />
    <strong>Name</strong>: <%= user.displayName %><br />
    <strong>Provider</strong>: <%= user.provider %>
    <img src="<%= user.avatarUrl %>" alt="<%= user.displayName %> Avatar" style="max-width: 100px; border-radius: 50%;" />
  </p>

  <a href="/auth/github/signout"><span>Deslogar</span></a>
</body>

</html>